*.py[co]
*.pdf
*.json
*.xml
!/tests/**/fixtures/*.xml

.idea/
.vscode/
build/
dist/
*.egg-info/

.cache/
.pytest_cache/

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

/tests/functional/**/runTests
/examples/**/runTests
/examples/**/*report.txt

/ms
/venv
/out

# docker related stuff
Dockerfile

# Testplan UI
/testplan/web_ui/testing/node_modules
/testplan/web_ui/testing/coverage
/testplan/web_ui/testing/build
/testplan/web_ui/testing/src/setupProxy.js
!/testplan/web_ui/testing/package.json
!/testplan/web_ui/testing/.eslintrc.json

.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.eslintcache
testing/.env.production.local
.pnpm-debug.log
Thumbs.db

/doc/en/_build/
/doc/en/html
/pip-wheel-metadata
uv.lock
node_modules/
yarn-error.log

.doit.db.*
