*.py[co]
*.pdf
*.json
*.xml

/testplan/examples/**/*report.txt

.idea/
build/
dist/
*.egg-info/

.cache/
.pytest_cache/

CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

/test/functional/**/runTests
/testplan/examples/**/runTests

/ms

# docker related stuff
Dockerfile
