pytest
py
psutil
setuptools
schema
pytz
lxml
python-dateutil
reportlab
marshmallow==3.0.0b2
termcolor
colorama
pyzmq
terminaltables
pyparsing
cycler
requests>=2.4.3
flask<2.0.0
flask_restplus
cheroot
validators==0.14.0
Pillow
plotly
rpyc

# Documentation
# ---------------
# sphinx
# sphinx_rtd_theme

# matplot assertion
# -----------------
# matplotlib
# numpy

# Data science
# ------------
# scikit-learn
# scipy
