pytest
py
psutil
setuptools
schema
pytz
lxml
python-dateutil
reportlab
marshmallow==3.11.1
termcolor
colorama
pyzmq
terminaltables
pyparsing
cycler
requests>=2.4.3
flask>2.0.0
werkzeug>=2.0.0,<2.2.0
flask_restx
cheroot
boltons
validators==0.14.0
Pillow
plotly
rpyc

# Documentation
# ---------------
# sphinx
# sphinx_rtd_theme
# sphinx-click

# matplot assertion
# -----------------
# matplotlib
# numpy

# Data science
# ------------
# scikit-learn
# scipy
