pytest
py
psutil
six
future
setuptools
schema
pytz
lxml
python-dateutil
reportlab
marshmallow==3.0.0b2
mock
termcolor
colorama
enum34
pyzmq
terminaltables
numpy
pyparsing
cycler
matplotlib
Pillow
functools32
sklearn
scipy
sphinx
sphinx_rtd_theme
