pytest
py
psutil
six
future
setuptools
schema
pytz
lxml
python-dateutil
reportlab
marshmallow==3.0.0b2
mock
termcolor
colorama
enum34
pyzmq
terminaltables
pyparsing
cycler
Pillow
sphinx==1.6.5
sphinx_rtd_theme<0.3
matplotlib
numpy
sklearn
scipy
functools32; python_version <= '2.7'
requests>=2.4.3
