pytest
py
psutil>=6.0.0
setuptools
schema
pytz
lxml
python-dateutil
reportlab
marshmallow
termcolor
colorama
pyzmq
terminaltables
requests>=2.4.3
flask>2.0.0
werkzeug>2.0.0
flask_restx
cheroot
boltons
validators<=0.20.0
Pillow
plotly
rpyc
coverage
memoization
typing_extensions
click>=8.1.0

# Documentation
# ---------------
# sphinx
# sphinx_rtd_theme
# sphinx-click

# matplot assertion
# -----------------
matplotlib
numpy

# Data science
# ------------
# scikit-learn
# scipy
