body {
  margin: 0;
  padding: 0;
}

.MuiPaper-root,
.MuiButton-root,
.MuiButton-root::before,
.MuiPaper-root::before,
.MuiButton-root::after,
.MuiPaper-root::after {
  transition: none !important;
  animation: none !important;
}

*,
*:focus,
*:hover {
  outline: none !important;
}

tr.MuiTableRow-root:hover {
  background-color: aliceblue;
}
